<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <div class="container">
          <label id="example-radio-group-label">Set Subject Grading: </label>
          <br><br>
          <mat-form-field appearance="fill" class="width-25">
            <mat-label>Subject</mat-label>
            <mat-select>
              <mat-option [value]="6">
               OOP            
              </mat-option>
              <mat-option [value]="6">
               Data Structure         
              </mat-option>
              <mat-option [value]="6">
               Algorithem Design          
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="width-25 ml-1">
            <mat-label>Grades</mat-label>
            <mat-select>
              <mat-option [value]="6">
                A+        
               </mat-option>
               <mat-option [value]="6">
                A       
               </mat-option>
               <mat-option [value]="6">
                B+          
               </mat-option>
               <mat-option [value]="6">
                B
               </mat-option>
               <mat-option [value]="6">
                C+          
               </mat-option>
               <mat-option [value]="6">
                C       
               </mat-option>
               <mat-option [value]="6">
                D     
               </mat-option>
               <mat-option [value]="6">
                F 
               </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </mat-grid-tile>
    </mat-grid-list>